h1 {
    margin-top: 0px; 
    font-size: 24px;
    font-weight: bold;
}

hr {
    height: 4px;
    border: none;
    border-radius: 2px;
    background-color: #252D16;
}

/* MAIN */

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.item {
    width: 300px;
    margin: 30px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #fff;
    background-color: #fff;
}

.subField {
    padding: 5px;
    border-radius: 8px;
    background-color: #252D16;
    color: #DBEBBD;
    font-size: 14px;
}

.subFieldProperty {
    margin: 15px;
}

.subFieldHr {
    height: 2px;
    background-color: #DBEBBD;
}

.showButton {
    cursor: pointer;
    float: right;
}

.rotate {
    animation: rotation 0.2s  linear;
    -webkit-animation: rotation 0.2s  linear;
    transform: rotateX(180deg);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
}

.rotateBack {
    animation: rotationBack 0.2s  linear;
    -webkit-animation: rotationBack 0.2s  linear;
    transform: rotateX(0deg);
}

@keyframes rotationBack {
    from {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}

.idProperty {
    opacity: 0.7;
    font-weight: bold;
    font-size: 14px;
}

.nested0 {
    font-size: 16px;
    font-weight: bold;
}

.nested1 {
    padding-left: 20px;
}

#user {
    box-shadow: 0px 0px 5px #252D16;
    background-color: #252D16;
    color: #fff;
}

.hrUser {
    background-color: #fff;
}