* {
    font-family: 'Roboto Condensed', serif;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.item {
    width: 290px;
    margin: 30px;
    padding: 30px;
    border-radius: 8px;
    background-color: #c57d7d;
    color: #411
}

.subField {
    padding: 5px;
    border-radius: 8px;
    background-color: #611;
    color: #daa;
}

.subFieldProperty {
    margin: 15px;
}

h1 {
    margin-top: 0px; 
    font-size: 24px;
    font-weight: bold;
}

hr {
    height: 3px;
    border: none;
    border-radius: 8px;
    background-color: #411;
}

.idProperty {
    opacity: 0.6;
    font-weight: bold;
    font-size: 14px;
}

#footer {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding: 25px 0px;
    font-size: 16px;
}

.footerItem {
    margin: 10px 30px;
}